# **MÓDULO 25 - Operações Básicas SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [1]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [2]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [3]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [4]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

In [7]:
query = """
SELECT
DISTINCT(produto)
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2   BERMUDA
3   VESTIDO
4      MEIA

# 2) Faça uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, não esqueça de renomear sua coluna.

Dica: Você pode usar o distinct dentro do count()

In [46]:
query = """
SELECT
id_cliente, COUNT(DISTINCT(id_cliente)) AS contagem_clientes
FROM tb_vendas
GROUP BY id_cliente
"""
result_df = run_query(query)
print(result_df)

    ID_CLIENTE  contagem_clientes
0         9081                  1
1         9425                  1
2         9481                  1
3         9560                  1
4         9630                  1
5         9785                  1
6         9786                  1
7         9787                  1
8         9788                  1
9         9789                  1
10        9790                  1
11        9791                  1
12        9792                  1
13        9793                  1
14        9794                  1
15        9795                  1
16        9796                  1
17        9797                  1
18        9798                  1
19        9799                  1
20        9800                  1
21        9801                  1

# 3) Faça uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. Porém apenas para produtos onde o valor_unid é maior ou igual a 50 reais.

In [20]:
query = """
SELECT
produto, valor_unid
FROM tb_vendas
WHERE valor_unid >= 50
"""
result_df = run_query(query)
print(result_df)

   PRODUTO VALOR_UNID
0    CALCA       89,9
1  BERMUDA       79,5
2    CALCA       89,9
3    CALCA       89,9
4    CALCA       89,9
5  BERMUDA       79,5
6    CALCA       89,9
7    CALCA       89,9
8  BERMUDA       79,5
9    CALCA       89,9

# [DESAFIO] 4) Faça uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

In [36]:
query = """
SELECT
id_compra, valor_unid*unidades AS valor_compra
FROM tb_vendas
WHERE valor_compra
ORDER BY valor_compra DESC
LIMIT 5
"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  valor_compra
0       1267           204
1       1253           178
2       1255           178
3       1257           178
4       1262           178

# 5) Faça uma consulta que retorne os produtos e a média do preço da unidade dos produtos, ordenando do maior para o menor.

In [38]:
query = """
SELECT
produto, AVG(valor_unid) AS media_valor_unid
FROM tb_vendas
GROUP BY produto
ORDER BY media_valor_unid DESC

"""
result_df = run_query(query)
print(result_df)

    PRODUTO  media_valor_unid
0   VESTIDO             102.0
1     CALCA              89.0
2   BERMUDA              79.0
3  CAMISETA              34.0
4      MEIA              25.0

# 6) Faça uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

In [50]:
query = """
SELECT
id_cliente, COUNT(id_compra) AS quantidade_compras
FROM tb_vendas
GROUP BY id_cliente
ORDER BY quantidade_compras DESC
LIMIT 3
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  quantidade_compras
0        9425                   2
1        9081                   2
2        9801                   1